@model Vidly_II.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2>@Model.Name</h2>
    </div>

    <div class="col-6">
       @Html.ActionLink("Edit", "Edit", "Customers", new { id = @Model.Id } , new { @class= "btn btn-primary" })
        @*<a href="/customers/edit/@Model.Id" class="btn btn-primary">Edit</a>*@
    </div>
</div>



<ul>
    @if (Model.BirthDate.HasValue)
    {
        <li>@Model.BirthDate.Value.ToShortDateString()</li>
    }
    <li>@Model.MembershipType.Name</li>
</ul>

